extends ../layout

block stylesheets
  link(href="/stylesheets/vendor/bootstrap-build/bootstrap.min.css", type='text/css', rel="stylesheet")
  link(href="/stylesheets/vendor/bootstrap-build/bootstrap-responsive.min.css", type='text/css', rel="stylesheet")
  link(href="http://fonts.googleapis.com/css?family=Share:400,700", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="/javascripts/vendor/bootstrap/bootstrap.min.js", type="text/javascript")
  script(src="/javascripts/functions.utils.js", type="text/javascript")
  script(src="/javascripts/mission.js", type="text/javascript")

block body

  include ../layouts/menu
  .page-header
    .container
      h1
        a(href=_("/courses/") + course.slug)=course.title
        =" › "
        a(href=_("/courses/") + course.slug + "/" + chapter.slug)=chapter.title
        =" › Mission"
      p=mission.config.description
      
  .container
    .row
      //- chapter.content must be read as an HTML content
      .span9
        form(method="POST", class="mission-"+mission.type, data-type=mission.type).well#mission          
          !=mission.getContent();   

          if mission.state == "game"
            .splashscreen( data-msg-cd-plural=_("The mission is about to begin in % seconds."), data-msg-cd-single=_("The mission is about to begin in % second.") )
              .countdown
              .instruction=_("Push a button to select an answer")       

        //- Hides the quiz navigation toolbar 
        //- if we are not playing a classic game 
        if mission.type == "classic" || mission.state != "game"
          .well.well-small
            .pull-left
              a(class="btn right10", href=_("/courses/") + course.slug )=_("Back to the list")   
            .tr
              case mission.state
                when "game"
                  button(type="submit",class="btn btn-primary")=_("Next")
                when "failed"
                  a(class="btn right10", href=_("/courses/") + course.slug + "/" + chapter.slug )=_("Read the chapter again")                
                  button(type="submit",class="btn btn-primary")=_("Try again!")
                when "succeed"
                  if(nextChapter)
                    a(href=_("/courses/") + course.slug + "/" + nextChapter.slug, class="btn btn-primary")=_("Next chapter")
            .clearfix

    
      .span3
        include ../layouts/progress-menu
        
  include ../layouts/footer