#menu.navbar.navbar-fixed-top.at-top
	.navbar-inner
		.container
			.brand
				if instance 
					a(href="/")=instance.name
					sup.left10 by jQuest
				else
					a(href="/") jQuest

			ul.nav.pull-right

				- var mainLinks = [{path:"/",label:_("Welcome")}, {path:_("/m"), label:_("Missions")}, {path:"/help",label:_("Find help")}]

				each link in mainLinks
					if typeof path !== "undefined" && _(path) == link.path
						li.main-link.active
							a(href=link.path)=link.label
					else
						li.main-link
							a(href=link.path)=link.label
				
				li.divider-vertical
				li.dropdown.select-lang
						a.dropdown-toggle.main-link(href="#",data-toggle="dropdown")
							span.right05
								=_("Language")
							b.caret
						ul.dropdown-menu
							each lang in availableLocales.sort()
								li
									a(href="//" + lang + "." + host + (config.port != 80 ? ":" + config.port : "") + req.path)
										if(lang === language)
											b.icon-ok.pull-right
										=getLanguageName(lang)


				if user
					li.user-avatar.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown")
							img(src="http://twitter.com/api/users/profile_image/"+user.username)
							b.caret
						ul.dropdown-menu
							li 
								a(href="/u/"+user.username)=_("Profil")
							li 
								a(href="/u/"+user.username+"/scores")=_("My scores")
							li 
								a(href="/u/settings")=_("Settings")
							li.divider
							if user.ugroup == "admin"								
								li 
									a(href="/admin/courses")=_("Edit courses")
								li.divider
							li 
								a(href="/u/logout")=_("Log out")
				- else
					li.dropdown
						a.padding0(href="/u/signup")
							span.btn.btn-primary=_("Sign up")


							
