#menu.navbar.navbar-fixed-top.at-top
	.navbar-inner
		.container
			.brand
				if instance 
					a(href="/")=instance.name
					sup.left10 by jQuest
				else
					a(href="/") jQuest

			ul.nav.pull-right

				- var mainLinks = [{path:url("/"), label:_("Welcome")}, {path:url("/m"), label:_("Start")}, {path:url("/e"), label:_("Explore")}, {path:url("/help"), label:_("Find help")}]

				each link in mainLinks
					if req.path == link.path
						li.main-link.active
							a(href=link.path)=link.label
					else
						li.main-link					
							a(href=link.path)=link.label
				
				li.divider-vertical
				li.dropdown.select-lang
						a.dropdown-toggle.main-link(href="#",data-toggle="dropdown")
							span.right05
								=_("Language")
							b.caret
						ul.dropdown-menu
							each l in availableLocales.sort()
								li
									a(href="/" + l + req.path.substring(3) )
										if(l === lang)
											b.icon-ok.pull-right
										=getLanguageName(l)	


				if user
					li.user-avatar.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown")
							img(src="http://twitter.com/api/users/profile_image/"+user.username)
							b.caret
						ul.dropdown-menu
							li 
								a(href=url("/u/"+user.username))=_("Profil")
							li 
								a(href=url("/u/"+user.username+"/scores"))=_("My scores")
							li 
								a(href=url("/u/settings"))=_("Settings")
							li.divider
							if user.ugroup == "admin"								
								li 
									a(href="/admin/courses")=_("Edit courses")
								li.divider
							li 
								a(href=url("/u/logout"))=_("Log out")
				- else
					li
						a.padding0(href=url("/u/signup"))
							span.btn.btn-primary=_("Sign up")
					li
						a.padding0(href=url("/u/login"))
							span.btn=_("Log in")


							
