.navbar
	.navbar-inner
		.container
			.brand
				a(href="/") jQuest
			ul.nav.pull-right
				
				- var mainLinks = [{path:"/",label:_("Home")}, {path:_("/courses"),label:_("Courses")}, {path:"/help",label:_("Find help")}]

				each link in mainLinks
					if typeof path !== "undefined" && _(path) == link.path
						li.main-link.active
							a(href=link.path)=link.label
					else
						li.main-link
							a(href=link.path)=link.label
				
				li.divider-vertical
				li.dropdown.select-lang
						a.dropdown-toggle.main-link(href="#",data-toggle="dropdown")
							span.right05
								=_("Language")
							b.caret
						ul.dropdown-menu
							each lang in availableLocales.sort()
								li
									a(href="/lang/"+lang)
										if(lang === language)
											b.icon-ok.pull-right
										=getLanguageName(lang)


				-if( user )
					li.user-avatar.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown")
							img(src="http://twitter.com/api/users/profile_image/"+user.username)
							b.caret
						ul.dropdown-menu
							li 
								a(href="/users/"+user.username)=_("Profil")
							li 
								a(href="/users/"+user.username+"/scores")=_("My scores")
							li 
								a(href="/users/settings")=_("Settings")
							li.divider
							li 
								a(href="/users/logout")=_("Log out")
				- else
					li.dropdown
						a.padding0(href="/users/login")
							span.btn.btn-primary=_("Sign in with Twitter")


							
