
//- This list must be invisible on phone
ul.row.no-bullet.hidden-phone#chapters
  each chapter, key in chaptersOrdered

    //- Breaks line after 3 chapters 
    if(key > 0 && !(key%2) ) 
      li.span9

    if(chapter == null)       
      //- Draws an empty case
      li.span3
    else              
      //- chapter can be disabled
      - if( ! isChapterEnabled(chapter) ) {
        //- Draws a chapter with its ID
        li.span4.chapter.disabled(data-id=chapter.id, class= !(key%2) ? "offset1" : "")
          .well.well-small
            .thumb
              img(src=chapter.thumbnail)  
            h4=chapter.title            
            .points=_("0 point")
          //- After the first element, every chapter has a parent
          if(key > 0)
            //- Draws an arrow related to the parent chapter
            .arrow(data-parent=chapter.parent)
      - } else {
        //- Draws a chapter with its ID and adds a class "highlight" to the ones with 0 point
        li.span4.chapter(data-id=chapter.id, class=chapter.points === 0 ? "highlight" : "")
          .well.well-small
            .thumb
              img(src=chapter.thumbnail)  
            h4
              a(tabindex=chapter.parent||chapter.id, href=_("/courses/")+course.slug+"/"+chapter.slug)=chapter.title 
            .points=_n("%s point", "%s points", getUserPoints(chapter) )
          //- After the first element, every chapter has a parent
          if(key > 0)
            //- Draws an arrow related to the parent chapter
            .arrow(data-parent=chapter.parent)
      - }


//- This list must be visible only on phone
ul.unstyled.visible-phone#chapters
  each chapter, key in chapters

      //- chapter can be disabled
      - var chapterClasses  = ! isChapterEnabled(chapter) ? "disabled" : ""              
      //- Draws a chapter with its ID
      li.span9.chapter(data-id=chapter.id, class=chapterClasses)      
        .well.well-small
          .thumb
            img(src=chapter.thumbnail)    
          h4
            a(href=_("/courses/")+course.slug+"/"+chapter.slug)=chapter.title
          .points=_n("%s point", "%s points", getUserPoints(chapter) )
        //- After the first element, every chapter has a parent
        if(key > 0)
          //- Draws an arrow related to the parent chapter
          .arrow.equal.north