
//- This list must be invisible on phone
ul.row-fluid.no-bullet.hidden-phone
  each chapter, key in chaptersOrdered

    //- Breaks line after 3 chapters 
    if(key > 0 && !(key%2) ) 
      li.span12

    if(chapter == null)       
      //- Draws an empty case
      li.span4
    else              
      //- chapter can be disabled
      - if( ! isChapterEnabled(chapter) ) {
        - if(key%2===0) {
          li.span1
        - }

        //- Draws a chapter with its ID
        li.span5.chapter-card.disabled(data-id=chapter.id)
          .dark-panel
            .thumb
              img(src=chapter.thumbnail)  
            h4=chapter.title            
            .points=_("0 point")
          //- After the first element, every chapter has a parent
          if(key > 0)
            //- Draws an arrow related to the parent chapter
            .arrow(data-parent=chapter.parent)
      - } else {
        //- Draws a chapter with its ID 
        //- Disabled : adds a class "highlight" to the ones with 0 point (class=chapter.points === 0 ? "highight" : "")
        li.span5.chapter-card(data-id=chapter.id)
          .dark-panel
            .thumb
              img(src=chapter.thumbnail)  
            h4
              a(tabindex=chapter.parent||chapter.id, href=_("/courses/")+course.slug+"/"+chapter.slug)=chapter.title 
            .points=_n("%s point", "%s points", getUserPoints(chapter) )
          //- After the first element, every chapter has a parent
          if(key > 0)
            //- Draws an arrow related to the parent chapter
            .arrow(data-parent=chapter.parent)
      - }


//- This list must be visible only on phone
ul.unstyled.visible-phone#chapters
  each chapter, key in chapters

      //- chapter can be disabled
      - var chapterClasses  = ! isChapterEnabled(chapter) ? "disabled" : ""              
      //- Draws a chapter with its ID
      li.span12.chapter-card(data-id=chapter.id, class=chapterClasses)      
        .dark-panel.left20.right20.bottom30
          .thumb
            img(src=chapter.thumbnail)    
          h4
            a(href=_("/courses/")+course.slug+"/"+chapter.slug)=chapter.title
          .points=_n("%s point", "%s points", getUserPoints(chapter) )
        //- After the first element, every chapter has a parent
        if(key > 0)
          //- Draws an arrow related to the parent chapter
          .arrow.equal.north