if(typeof userPoints == "number" && typeof ttPoints == "number")
  section.white-panel.bottom20.padding20  
    h3=_("My points")
    .progress.top10
      .bar(style="width: " + Math.round(userPoints/ttPoints*100) + "%")
    p.tc=_n("%s point", "%s points", userPoints) + " / " + ttPoints

section.white-panel.bottom20.padding20
  h3=_("My badges")
  span.label no implemented
  .row-fluid.top10
    .span4
      .padding10
        img.thumbnail(src="/images/badge-icon.png")
    .span4
      .padding10
        img.thumbnail(src="/images/badge-icon.png")
    .span4
      .padding10
        img.thumbnail(src="/images/badge-icon.png")


if user
  section.white-panel.padding20      
    h3!=_("Invite a friend to this course")
    form#inviteFriend(action="/courses/invite", method="POST").row-fluid
      input(type="hidden", name="from", value=user.username)
      input(type="hidden", name="course", value=course.slug)
      //h3!=_("Invite a friend to %s", course.title)
      .input-append.top10
        input.span8(type="text",name="to",placeholder=_("Email address"))
        button.btn=_("Go!")