  

case mission.state

  when "game"        

    //- Question countdown
    if typeof question.duration != "undefined"
      .well-header.question-countdown(data-duration=question.duration)
        //- Display as time (mm:ss)
        .pull-left.right20.time 00:00
        //- Display as progress bar        
        .progress
          .bar 

    .content  
      .steps=mission.getStep() + "/" + mission.questionsNumber
      .row-fluid
        .span8
          //- Additional content above the question
          - if(typeof question.content != "undefined")
            !=question.content.oembed.html

          .tc.top40
            a.btn.btn-large.btn-primary.js-user-profil(data-user-id=question.user.id) Show more information about user


        .span4
          //- The question text itself
          h3.top20.question.tc=question.label

          //- Answers list
          .answers          
            //- Question id to retreive its solution
            input(type="hidden", name="id", value=question.id)  
            //- Adds an empty radio button for "no answer"
            input.hide(type="radio", name="quiz-answer", value="", checked)
            //- Is theres any answer list ?
            if typeof question.answers != "undefined"            
              - for(q=0; q < question.answers.length;)
                .row-fluid
                  //- Builds each line with 2 answers
                  - for(d=0; d<2 && q < question.answers.length; d++)                    
                    - answer = question.answers[q]                
                    - q++;
                    .span6
                      label.btn.btn-block.top20
                        input(type="radio", name="quiz-answer", value=answer)
                        =answer

      .user-profile.hidden
      //- WARNING: Inline javascript here because 
      //- the sdk doesn't manage yet the assets (sorry for that)
      script(type="text/javascript")
        // On click on an unabled button
        $("#mission").on("click", ".js-user-profil:not(.disabled)", function() {
          // Disable it
          $(this).addClass("disabled");
          // Load the select user profil
          $(".user-profile")
            .load("./get?type=user&id=" + $(this).data("user-id"), function() {
              $(this).removeClass("hidden");
            });
        });


  when "succeed"
    .row-fluid
      .span6
        .succeed-card.right20
          h2 Mission cleared! 
          .row-fluid
            .span4.indicator 
              i.icon-dashboard.icon
              | #{mission.points}<br />
              strong points
            .span4.indicator 
              i.icon-bell.icon
              | 12 seconds<br />
              strong time bonus             
            .span4.indicator 
              i.icon-gift.icon
              | 9 out of 10<br />
              strong accuracy bonus             

          .row-fluid.top30
            .span4.offset4.tc                  
              a.btn.btn-large.btn-primary(href="./open")
                i.icon-repeat.right05
                | Replay 
            - if(typeof nextUrl != "undefined")
              .span4.tr
                a.btn.btn-primary(href=next)
                  | Next mission
                  i.icon-arrow-right.icon-white.left05          
      .span6
        - if(typeof mission.previousQuestions != "undefined" && mission.previousQuestions.length)
          h3 Mission summary
          table.table.table-striped.mission-summary
            each question in  mission.previousQuestions          
              if question.user
                tr
                  td.is-correct
                    i(class=question.isCorrect ? "icon-ok" : " icon-remove")
                  td.solution
                    =question.solution
                  td.avatar
                    img.img-polaroid(src=question.user.profile_image_url, width=40)
                  td.tweet
                    p.bottom0
                      a.username(href="//twitter.com/"+question.user.screen_name,  target="_blank")
                        strong.name.right05=question.user.name 
                        span.screen_name @#{question.user.screen_name}
                    p!=question.parseText(question.content.text)                    


  when "failed"
      h2 Oh my gosh dude, you did something realy bad
      p You should try again

