  

case mission.state

  when "game"        

    //- Question countdown
    if typeof question.duration != "undefined"
      .well-header.question-countdown(data-duration=question.duration)
        //- Display as time (mm:ss)
        .pull-left.right20.time 00:00
        //- Display as progress bar        
        .progress
          .bar

    .content
      
      //- Additional content above the question
      if typeof question.content != "undefined"
        !=question.content

      //- The question text itself
      h3.top20.question
        .span8.tc     
          =question.label

      //- Current step in the quiz
      .steps
        =mission.getStep() + "/" + mission.questionsNumber

      //- Encrypted solution
      input(type="hidden", name="quiz-solution", value=question.solution)
      //- Id of the current question
      input(type="hidden", name="question", value=question.id)

      //- Answers list
      .answers        
        //- Is theres any answer list ?
        if typeof question.answers != "undefined"            
          - for(q=0; q < question.answers.length; q++)
            .row-fluid
              .span1
              - for(d=0; d<2 && q+d < question.answers.length; d++)
                - q += d;
                - answer = question.answers[q]
                label.span5.btn.btn-block.top20.radio
                  input(type="radio", name="quiz-answer", value=answer)
                  =answer

        //- Adds an empty radio button for "no answer"
        input.hide(type="radio", name="quiz-answer", value="", checked)
    
    //- Scripts dependencies
    script(type="text/javascript")
      window.twttr = (function (d,s,id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
        js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
      }(document, "script", "twitter-wjs"));      

  when "succeed"
    h2 Congratulations!
    p You win buddy!              

  when "failed"
    - var qs = mission.countQuestionSuccess();
    if qs == 0
      h2="0 question correcte sur " + mission.questionsNumber
    else if qs == 1
      h2="Seulement " + qs + " question correcte sur " + mission.questionsNumber
    else
      h2="Seulement " + qs + " questions correctes sur " + mission.questionsNumber
    p Il faudrait mieux réviser avant de relacer le test
