extends ../layout

block title
  =_("Log in")

block stylesheets
  link(href="http://fonts.googleapis.com/css?family=Share:400,700", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="/javascripts/vendor/bootstrap/bootstrap.min.js", type="text/javascript")

block body

  include ../layouts/menu
  .container
    .row.top40.bottom40
      .span8.offset2
        form.form-horizontal.well.padding0.log-in(action=url("/u/login"), method="POST")
          .row-fluid
            .span7
              fieldset.left20.top20.right20
                legend=_("Log in with your email")

                if message != false
                  .alert.alert-error!=message

                .control-group
                  label.control-label(for="input-email")=_("Your email")
                  .controls
                    if(typeof data.email != "undefined")
                      input(type="text",name="email",id="input-email",value=data.email)
                    else
                      input(type="text",name="email",id="input-email")

                .control-group
                  label.control-label(for="input-password")=_("Your password")
                  .controls
                    input(type="password",name="password",id="input-password")

                .control-group
                  .control-label 
                  label.controls.checkbox
                    input(type="checkbox", name="remenber")
                    =_('Remember me on that computer')

                .form-actions.bottom0
                  button.btn.btn-primary.btn-large(type="submit")=_("Log in")
                  !=_(' or <a href="/u/signup">Sign up</a>')

            .span5.white-panel.connect-form         
              fieldset.margin20
                legend=_("Or log in with...")
                ul.unstyled
                  li
                    a(href=url("/u/twitter-connect", true) ).btn.btn-twitter.btn-large.span12.bottom20 
                      .tl
                        i.right10.icon-twitter
                        =_("Your Twitter account")
                  li
                    a(href=url("/u/facebook-connect", true) ).btn.btn-facebook.btn-large.span12.bottom20 
                      .tl
                        i.right10.icon-facebook
                        =_("Your Facebook account")
                  li
                    a(href=url("/u/google-connect", true) ).btn.btn-google.btn-large.span12.bottom20
                      .tl
                        i.right10.icon-google-plus-sign
                        =_("Your Google account")
                  li
                    a(href=url("/u/github-connect", true) ).btn.btn-inverse.btn-large.span12.bottom20
                      .tl
                        i.right10.icon-github
                        =_("Your GitHub account")
